* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    background: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45rem;
    height: 20rem;
    border-radius: 0.5rem;
    border: 0.4rem solid rgb(65, 166, 255);
    transition: 0.5s;
    transition-property: background box-shadow;
}

.container:hover {
    background: rgb(65, 166, 255);
    box-shadow: 0rem 0rem 2rem rgb(65, 166, 255);
}

.calender-container {
    display: flex;
}

.clock-container {
    display: flex;
    padding: 2rem;
}

#weekday {
    font-size: 2.5rem;
    margin: 1rem;
}

#date {
    font-size: 2.5rem;
    margin: 1rem;
}

#time {
    font-size: 7rem;
}

@media (max-width: 768px) {
    .container {
        width: 30rem;
        height: 15rem;
    }

    #weekday {
        font-size: 1.5rem;
        margin: 1rem;
    }
    
    #date {
        font-size: 1.5rem;
        margin: 1rem;
    }
    
    #time {
        font-size: 4rem;
    }
}

@media (max-width: 320px) {
    .container {
        width: 15rem;
        height: 20rem;
    }

    .calender-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #weekday {
        font-size: 1.5rem;
        margin: 1rem;
    }
    
    #date {
        font-size: 1.5rem;
        margin: 1rem;
    }
    
    #time {
        font-size: 2rem;
    }
}